/* QuestionIndicator component styling */
.right-section {
    width: 25%;
    padding: 0px 10px 10px 10px;
    background-color: #f1f0f0;
  }
  
  .bubble {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    color: rgb(32, 32, 32);
    border-radius: 50%;
    border: 1px solid #838383;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .indicator-container {
    display: flex;
    flex-direction: column;
  }
  
  .indicator {
    display: flex;
    align-items: center;
  }
  
  .not-attempted {
    background-color: #ffffff;
  }
  
  .attempted-answered {
    background-color: #00ff00;
  }
  
  .attempted-not-answered {
    background-color: #ff0000;
  }
  
  .marked-for-review {
    background-color: #800080;
  }
  
  .right-section .horizontal-line {
    margin: 10px 0;
  }
  
  .question-bubbles {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    overflow: auto;
    height: 46vh;
  }
  
  .button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }
  
  .submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }